{
  "applinks": {
    "details": [
      {
        "appIDs": ["APPLE_TEAM_ID.dev.anguy.avalon"],
        "components": [
          {
            "/": "/join/*"
          }
        ]
      }
    ]
  }
}
